<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.14.1">
  <actions>
    <io.jenkins.blueocean.service.embedded.BlueOceanUrlAction plugin="blueocean-rest-impl@1.2.4">
      <blueOceanUrlObject class="io.jenkins.blueocean.service.embedded.BlueOceanUrlObjectImpl">
        <mappedUrl>blue/organizations/jenkins/jplPromoteCodeHappyTest</mappedUrl>
      </blueOceanUrlObject>
    </io.jenkins.blueocean.service.embedded.BlueOceanUrlAction>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.1.9">
      <jobProperties/>
      <triggers/>
      <parameters/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>jplPromoteCodeHappyTest</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.40">
    <script>#!groovy

// Initialize cfg
cfg = jplConfig(&apos;jplPromoteCodeHappyTest&apos;, &apos;backend&apos;)
cfg.BRANCH_NAME=&quot;jpl-test&quot;
cfg.repository.url = &apos;file:////tmp/jenkins-pipeline-library&apos;
cfg.repository.branch = &apos;jpl-test&apos;

// The pipeline
pipeline {

    agent none

    stages {
        stage (&apos;jplPromoteCode Happy Test - Initialize&apos;) {
            agent { label &apos;master&apos; }
            steps  {
                echo &quot;jplPromoteCode Happy Test - Initialize&quot;
                sh &quot;printenv&quot;
                println cfg
                jplStart(cfg)
            }
        }
        stage (&apos;jplPromoteCode Happy Test - Promote Code&apos;) {
            agent { label &apos;master&apos; }
            steps {
                echo &quot;jplPromoteCode Happy Test - Promote Code&quot;;
                sh &quot;echo &apos;jplPromoteCodeHappyTest&apos; &gt; test/jplPromoteCodeHappyTest.txt; git add test/jplPromoteCodeHappyTest.txt; git commit -m &apos;Build: Test file for jplPromoteCodeHappyTest&apos;;git push&quot;
                jplPromoteCode(cfg, 'jpl-test', 'jpl-test-promoted')
            }
        }
    }

    options {
        timestamps()
        ansiColor(&apos;xterm&apos;)
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>