<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.14.1">
  <actions>
    <io.jenkins.blueocean.service.embedded.BlueOceanUrlAction plugin="blueocean-rest-impl@1.2.4">
      <blueOceanUrlObject class="io.jenkins.blueocean.service.embedded.BlueOceanUrlObjectImpl">
        <mappedUrl>blue/organizations/jenkins/jplPromoteBuildTest</mappedUrl>
      </blueOceanUrlObject>
    </io.jenkins.blueocean.service.embedded.BlueOceanUrlAction>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.1.9">
      <jobProperties/>
      <triggers/>
      <parameters/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>jplPromoteBuildTest</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.40">
    <script>#!groovy

@Library(&apos;github.com/red-panda-ci/jenkins-pipeline-library&apos;) _

// Initialize cfg
cfg = jplConfig(&apos;jplPromoteBuildTest&apos;, &apos;backend&apos;, &apos;&apos;, [hipchat: &apos;&apos;, slack: &apos;&apos;, email: &apos;&apos;])
cfg.BRANCH_NAME=&quot;release/v9.9.9&quot;

// The pipeline
pipeline {

    agent none

    stages {
        stage (&apos;Checkout&apos;) {
            agent any
            steps  {
                jplCheckoutSCM(cfg, &apos;file:///tmp/jenkins-pipeline-library&apos;, &apos;release/v9.9.9&apos;)
            }
        }
        stage (&apos;Release confirm&apos;) {
            steps {
                timeout(time: 5, unit: &apos;SECONDS&apos;) {
                    jplPromoteBuild(cfg)
                }
            }
        }
    }

    options {
        timestamps()
        ansiColor(&apos;xterm&apos;)
        skipDefaultCheckout()
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>