<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.16">
  <actions>
    <io.jenkins.blueocean.service.embedded.BlueOceanUrlAction plugin="blueocean-rest-impl@1.3.4">
      <blueOceanUrlObject class="io.jenkins.blueocean.service.embedded.BlueOceanUrlObjectImpl">
        <mappedUrl>blue/organizations/jenkins/jplBuildAPKTest</mappedUrl>
        <modelObject class="flow-definition" reference="../../../.."/>
      </blueOceanUrlObject>
    </io.jenkins.blueocean.service.embedded.BlueOceanUrlAction>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.2.5"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.2.5">
      <jobProperties/>
      <triggers/>
      <parameters/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>jplBuildAPKTest</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.42">
    <script>cfg = jplConfig(&apos;jplBuildAPKTest&apos;, &apos;android&apos;, &apos;&apos;, [hipchat: &apos;&apos;, slack: &apos;&apos;, email: &apos;&apos;])

cfg.repository.url = &apos;https://github.com/red-panda-ci/android-testing&apos;
cfg.repository.branch = &apos;master&apos;
cfg.androidPackages = &apos;&quot;build-tools;27.0.1&quot; &quot;platforms;android-27&quot;&apos;

pipeline {

    agent any

    stages {
        stage (&apos;Initialize&apos;) {
            steps  {
                jplStart(cfg)
            }
        }

        stage (&apos;Build&apos;) {
            steps  {
                echo &quot;jplBuildAPK Test&quot;;
                jplBuild(cfg, &quot;./gradlew clean assembleDebug&quot;)
            }
        }
    }

    options {
        timestamps()
        ansiColor(&apos;xterm&apos;)
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>