<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.12.2">
  <actions>
    <io.jenkins.blueocean.service.embedded.BlueOceanUrlAction plugin="blueocean-rest-impl@1.2.2">
      <blueOceanUrlObject class="io.jenkins.blueocean.service.embedded.BlueOceanUrlObjectImpl">
        <mappedUrl>blue/organizations/jenkins/jplStartTest</mappedUrl>
      </blueOceanUrlObject>
    </io.jenkins.blueocean.service.embedded.BlueOceanUrlAction>
  </actions>
  <description>jplStartTest</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.40">
    <script>#!groovy

// Initialize cfg
cfg = jplConfig(&apos;jplStartTest&apos;, &apos;backend&apos;)
cfg.repository.url = &apos;file:////tmp/jenkins-pipeline-library&apos;
cfg.repository.branch = &apos;jpl-test&apos;

pipeline {

    agent { label &apos;master&apos; }

    stages {
        stage (&apos;jplStart Test&apos;) {
            steps  {
                echo &quot;jplStart Test&quot;
                sh &quot;printenv&quot;
                println cfg
                jplStart(cfg)
            }
        }
    }

    options {
        timestamps()
        ansiColor(&apos;xterm&apos;)
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>