<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.14.1">
  <actions>
    <io.jenkins.blueocean.service.embedded.BlueOceanUrlAction plugin="blueocean-rest-impl@1.2.4">
      <blueOceanUrlObject class="io.jenkins.blueocean.service.embedded.BlueOceanUrlObjectImpl">
        <mappedUrl>blue/organizations/jenkins/jplDockerPushTest</mappedUrl>
      </blueOceanUrlObject>
    </io.jenkins.blueocean.service.embedded.BlueOceanUrlAction>
  </actions>
  <description>jplDockerPushTest</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.40">
    <script>#!groovy

// Initialize cfg
cfg = jplConfig(&apos;jplDockerPushTest&apos;, &apos;backend&apos;)

stage (&apos;jplDockerPush Test&apos;) {
  node (&quot;master&quot;) {
    echo &apos;jplDockerPush Test&apos;
    sh &quot;printenv&quot;
    println cfg
    sh &apos;docker rmi -f jpl-dockerpush-test:test localhost:5000/jpl-dockerpush-test:test 2&gt; /dev/null || true&apos;
    sh &apos;docker rm -f jpl-registry 2&gt; /dev/null || true&apos;
    sh &apos;docker run --name jpl-registry -d -p 5000:5000 registry:2&apos;
    deleteDir()
    sh &apos;mkdir jplDockerPushTempFolder &amp;&amp; echo -n &quot;FROM ubuntu\nRUN echo Hello, jplDockerPush&quot; &gt; jplDockerPushTempFolder/Dockerfile&apos;
    sh &apos;echo &quot;FROM ubuntu&quot; &gt; Dockerfile&apos;
    jplDockerPush(cfg, &apos;jpl-dockerpush-test&apos;, &apos;test&apos;, 'jplDockerPushTempFolder', &apos;http://localhost:5000&apos;)
    sh &apos;docker rm -f jpl-registry 2&gt; /dev/null || true&apos;
  }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>